@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: "Roboto Light";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Bold";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 30px auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.logo__link {
  width: 100%;
}

.logo__img {
  width: 100%;
}

.menu-burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-burger-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
}

.bar {
  height: 1px;
  width: 30px;
  background: #fff;
}

.bar-2 {
  margin: 7px 0;
}

.menu-burger__label {
  margin-top: 5px;
}

.menu {
  font-family: "Roboto Bold";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  z-index: 2;
  padding: 80px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate3d(100vw, 0, 0);
          transform: translate3d(100vw, 0, 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 1;
}

.menu-content__list {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-content__item {
  list-style: none;
}

.menu-content__link {
  font-size: 24px;
  color: #fff;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease 0;
  transition: opacity 0.2s ease 0;
}

.menu-content__link:hover {
  opacity: 0.5;
}

.language__link {
  color: #fff;
}

.language_active {
  color: #faae02;
}

.close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 7%;
  top: 51px;
  height: 50px;
  width: 50px;
  z-index: 3;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate3d(100vw, 0, 0);
          transform: translate3d(100vw, 0, 0);
}

.close-btn__bar {
  width: 50px;
  height: 2px;
  background: #fff;
}

.close-btn__bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn__bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu_show .menu {
  visibility: visible;
}

.menu_show .menu-content {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu_show .close-btn {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu_show .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.main-slider__img {
  width: 100%;
  height: auto;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button::before {
  color: #fff;
  opacity: 1;
  font-size: 50px;
}

.slick-active button::before {
  color: #faae02 !important;
}

.statistics {
  margin: 70px 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.statistics__left {
  background: url(images/car-1.jpg);
}

.statistics__right {
  margin-left: 3%;
  background: url(images/car-2.jpg);
}

.stat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 670px;
  min-width: 390px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.stat-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stat-info__number {
  font-family: "Roboto Bold";
  color: #faae02;
  font-size: 40px;
}

.stat-info__text {
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 14px;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section-title {
  color: #faae02;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
}

.history-slider {
  width: 70%;
}

.history-slide {
  height: 350px;
  width: 250px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3b3a3d;
}

.history-slide__picture {
  width: 100%;
  height: 50%;
}

.history-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.orange-text {
  color: #faae02;
}

.history-slide__text {
  padding: 15px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin: 50px 0;
}

.address__map {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 40px;
  background: #3b3a3d;
}

.address__info__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #faae02;
}

.address__info__emails {
  width: 50%;
  height: 35%;
}

.address-emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__info__separator {
  height: 1px;
  width: 70%;
  border-bottom: 1px solid #faae02;
}

.address-emails__title {
  text-transform: uppercase;
  color: #faae02;
  font-size: 17px;
}

.address__info__geo {
  font-size: 12px;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
  height: 200px;
  text-align: center;
  padding: 0 20px;
}

.questions__title {
  text-transform: uppercase;
  font-size: 18px;
}

.button {
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: #000;
  color: #fff;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  -webkit-transition: background 0.2s ease 0s;
  transition: background 0.2s ease 0s;
  font-size: 15px;
}

.button:hover {
  background: #faae02;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #3b3a3d;
}

@media (max-width: 1200px) {
  .history-slider {
    width: 85%;
  }
}

@media (max-width: 992px) {
  .statistics {
    margin: 40px;
  }
  .history-slider {
    width: 100%;
  }
  .history-slide {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .menu-content {
    width: 100%;
  }
  .statistics {
    overflow-x: hidden;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px 0;
  }
  .statistics__right {
    margin: 0;
  }
  .stat-item {
    width: 100%;
    min-width: 365px;
  }
  .history-slider {
    width: 80%;
  }
  .address {
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 576px) {
  .history-slider {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .history-slide__text {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .history-slide__text {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */