@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: "Roboto Light";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Bold";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 30px auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.logo__link {
  width: 100%;
}

.logo__img {
  width: 100%;
}

.menu-burger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-burger-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
}

.bar {
  height: 1px;
  width: 30px;
  background: #fff;
}

.bar-2 {
  margin: 7px 0;
}

.menu-burger__label {
  margin-top: 5px;
}

.menu {
  font-family: "Roboto Bold";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  z-index: 2;
  padding: 80px;
}

.menu-content_open {
  -webkit-animation: menuSlideIn 0.5s ease forwards;
          animation: menuSlideIn 0.5s ease forwards;
}

.menu-content_close {
  -webkit-animation: menuSlideOut 0.5s ease forwards;
          animation: menuSlideOut 0.5s ease forwards;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-fadeIn {
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}

.overlay-fadeOut {
  -webkit-animation: fadeOut 0.5s ease forwards;
          animation: fadeOut 0.5s ease forwards;
}

.menu-content__list {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-content__item {
  list-style: none;
}

.menu-content__link {
  font-size: 24px;
  color: #fff;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease 0;
  transition: opacity 0.2s ease 0;
}

.menu-content__link:hover {
  opacity: 0.5;
}

.language__link {
  color: #fff;
}

.language_active {
  color: #faae02;
}

.close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5%;
  top: 50px;
  height: 50px;
  width: 50px;
  z-index: 3;
}

.close-btn__bar {
  width: 50px;
  height: 2px;
  background: #fff;
}

.close-btn__bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn__bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu_show .menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-slider__img {
  width: 100%;
  height: auto;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button::before {
  color: #fff;
  opacity: 1;
  font-size: 50px;
}

.slick-active button::before {
  color: #faae02 !important;
}

.statistics {
  margin: 70px 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
}

.statistics__left {
  background: url(images/car-1.jpg);
}

.statistics__right {
  margin-left: 3%;
  background: url(images/car-2.jpg);
}

.stat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 670px;
  min-width: 390px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.stat-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stat-info__number {
  font-family: "Roboto Bold";
  color: #faae02;
  font-size: 40px;
}

.stat-info__text {
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 14px;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section-title {
  color: #faae02;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 2px solid #fff;
}

.history__title {
  margin-bottom: 50px;
}

.history-slider {
  width: 70%;
}

.history-slide {
  height: 350px;
  width: 250px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3b3a3d;
}

.history-slide__picture {
  width: 100%;
  height: 50%;
}

.history-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.orange-text {
  color: #faae02;
}

.history-slide__text {
  padding: 15px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin: 50px 0;
}

.address__map {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 40px;
  background: #3b3a3d;
}

.address__info__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #faae02;
}

.address__info__emails {
  width: 50%;
  height: 35%;
}

.address-emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__info__separator {
  height: 1px;
  width: 70%;
  border-bottom: 1px solid #faae02;
}

.address-emails__title {
  text-transform: uppercase;
  color: #faae02;
  font-size: 17px;
}

.address__info__geo {
  font-size: 12px;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
  height: 200px;
  text-align: center;
  padding: 0 20px;
}

.questions__title {
  text-transform: uppercase;
  font-size: 18px;
}

.button {
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: #000;
  color: #fff;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  -webkit-transition: background 0.2s ease 0s;
  transition: background 0.2s ease 0s;
  font-size: 15px;
}

.button:hover {
  background: #faae02;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #3b3a3d;
}

.feedback-popup {
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.feedback-overlay-fadeIn {
  -webkit-animation: fadeIn 0.5s ease forwards;
          animation: fadeIn 0.5s ease forwards;
}

.feedback-overlay-fadeOut {
  -webkit-animation: fadeOut 0.2s ease forwards;
          animation: fadeOut 0.2s ease forwards;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  background: #fff;
  padding: 40px 60px;
  max-width: 620px;
  width: 100%;
  margin: 0 20px;
}

.feedback-content__input,
.feedback-content__textarea {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 15px;
  font-family: "Roboto Light";
}

.feedback-content__title {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
}

.feedback-content__input {
  height: 50px;
}

.popup-input-2 {
  margin: 20px 0;
}

.feedback-popup__button {
  margin: 40px 0 30px 0;
}

.feedback-conent__info {
  font-size: 12px;
  color: #9d9d9d;
}

.feedback-popup__close {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 33px;
  right: 60px;
  width: 30px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-popup__close__bar {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #9d9d9d;
}

.feedback-bar-1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-bar-2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-popup_show {
  overflow: hidden;
}

.feedback-popup_show .feedback-popup {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.feedback-popup-in {
  -webkit-animation: feedbackPopupIn 0.5s ease forwards;
          animation: feedbackPopupIn 0.5s ease forwards;
}

.feedback-popup-out {
  -webkit-animation: feedbackPopupOut 0.2s ease forwards;
          animation: feedbackPopupOut 0.2s ease forwards;
}

.section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-intro__subtitle {
  margin-top: 30px;
}

.production {
  margin: 50px 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.feature-info,
.feature-photo {
  height: 100%;
  width: 600px;
}

.feature-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 40px 60px;
}

.feature-info__title {
  color: #faae02;
}

.feature-odd {
  background: #3b3a3d;
}

.feature-even .feature-info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feature-even .feature-photo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature-photo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 70px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods-card {
  height: 450px;
  width: 350px;
  padding: 40px;
  margin: 0 13px;
  background: #3b3a3d;
  margin-bottom: 60px;
}

.goods-card:last-child {
  margin-bottom: 0;
}

.goods-picture {
  height: 50%;
}

.goods-content {
  height: 50%;
}

.goods-picture__img {
  height: 100%;
  width: 100%;
}

.goods-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.goods-content__name {
  color: #faae02;
  margin: 30px 0;
}

.goods-item-row-2 {
  margin-bottom: 0;
}

.service-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  width: 100%;
  background: url(images/service-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.servise-intro__title {
  text-transform: uppercase;
  font-size: 40px;
  color: #faae02;
}

.section-intro-pos {
  margin: 70px 0;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-input {
  width: 60%;
}

.user-input {
  height: 50px;
  background: #8a8a8a;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
}

.user-input:focus {
  outline: none;
}

.user-input::-webkit-input-placeholder {
  color: #e3e3e3;
}

.user-input:-ms-input-placeholder {
  color: #e3e3e3;
}

.user-input::-ms-input-placeholder {
  color: #e3e3e3;
}

.user-input::placeholder {
  color: #e3e3e3;
}

.user-form__input {
  margin-bottom: 50px;
}

.login {
  margin-bottom: 100px;
}

.reg-form-pos {
  margin: 70px 0;
}

@media (max-width: 1200px) {
  .history-slider {
    width: 85%;
  }
}

@media (max-width: 992px) {
  .statistics {
    margin: 40px;
  }
  .history-slider {
    width: 100%;
  }
  .history-slide {
    margin: 0 10px;
  }
  .user-input {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .menu-content {
    width: 100%;
  }
  .statistics {
    overflow-x: hidden;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px 0;
  }
  .statistics__right {
    margin: 0;
  }
  .stat-item {
    width: 100%;
    min-width: 365px;
  }
  .history-slider {
    width: 80%;
  }
  .address {
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 600px;
  }
  .feature-info,
  .feature-photo {
    width: 100%;
    height: 50%;
  }
  .feature-odd .feature-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feature-odd .feature-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feature-info__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 30px 20px;
  }
  .goods {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .goods-item-row-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .history-slider {
    width: 100%;
  }
  .feedback-content {
    padding: 40px 40px;
  }
  .feedback-popup__close {
    right: 40px;
  }
  .user-input {
    width: 90%;
  }
  .serial-numb__title {
    width: 60%;
  }
  .serial-numb__subtitle {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .goods-card {
    padding: 30px;
    width: 300px;
    height: 400px;
  }
  .goods-content__name {
    margin: 20px 0;
  }
  .history-slide__text {
    font-size: 16px;
  }
  .long-intro-title {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .history-slide__text {
    font-size: 15px;
  }
  .serial-numb__title {
    width: 80%;
  }
}

@-webkit-keyframes feedbackPopupIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes feedbackPopupIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes feedbackPopupOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes feedbackPopupOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes menuSlideIn {
  0% {
    -webkit-transform: translate3d(100vw, 0, 0);
            transform: translate3d(100vw, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes menuSlideIn {
  0% {
    -webkit-transform: translate3d(100vw, 0, 0);
            transform: translate3d(100vw, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes menuSlideOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100vw, 0, 0);
            transform: translate3d(100vw, 0, 0);
  }
}

@keyframes menuSlideOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100vw, 0, 0);
            transform: translate3d(100vw, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */